flow.json
[{"id":"ec970f0c.a49b8","type":"tab","label":"Flow 1"},{"id":"e9ec4b3b.b3671","type":"websocket in","z":"ec970f0c.a49b8","name":"","server":"b970d134.a9d5e","x":104,"y":143,"wires":[["cdb2c1f0.2c871"]]},{"id":"bd3beca7.04dc","type":"websocket out","z":"ec970f0c.a49b8","name":"","server":"b970d134.a9d5e","x":1274,"y":137,"wires":[]},{"id":"59adaf5d.55183","type":"http in","z":"ec970f0c.a49b8","name":"","url":"/chat","method":"get","x":106,"y":319,"wires":[["ec1a94d.3cb9ce8"]]},{"id":"ec1a94d.3cb9ce8","type":"template","z":"ec970f0c.a49b8","name":"HTML","field":"payload","fieldType":"msg","syntax":"mustache","template":"<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n<script type=\"text/javascript\">\n  var wsUri = \"wss://{{req.headers.host}}/ws/chat\";\n  var ws = new WebSocket(wsUri);\n\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function createUserMessage(user, message) {\n    var user = document.createTextNode(user + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  ws.onopen = function(ev) {\n    createSystemMessage('[Connected]');\n  };\n\n  ws.onclose = function(ev) {\n    createSystemMessage('[Disconnected]');\n  }\n\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    createUserMessage(payload.user, payload.message);\n\n    var chat = document.getElementById('chat_box');\n    chat.scrollTop = chat.scrollHeight;\n  }\n\n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value,\n      ts: (new Date()).getTime()\n    };\n\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n</script>\n\n<style type=\"text/css\">\n  * {\n    font-family: \"Helvetica\", \"Arial\", Palatino, serif;\n    font-size: 20px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>\n","x":272,"y":319,"wires":[["e2be71ae.8ea1e"]]},{"id":"e2be71ae.8ea1e","type":"http response","z":"ec970f0c.a49b8","name":"","x":441,"y":319,"wires":[]},{"id":"8a5e68e.4e92c18","type":"watson-conversation-v1","z":"ec970f0c.a49b8","name":"","workspaceid":"8095254b-0956-4b92-a08d-6474c9373049","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":743.5,"y":139.5,"wires":[["23a02a35.8cc3fe","282293c.ea420ec"]]},{"id":"23a02a35.8cc3fe","type":"change","z":"ec970f0c.a49b8","name":"prep response","rules":[{"t":"set","p":"payload.user","pt":"msg","to":"Watson","tot":"str"},{"t":"set","p":"payload.message","pt":"msg","to":"payload.output.text","tot":"msg"},{"t":"set","p":"payload.ts","pt":"msg","to":"ts","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":932.5,"y":137.75,"wires":[["92178816.5e20c8","7cb75677.b32238"]]},{"id":"5d6a7688.73648","type":"json","z":"ec970f0c.a49b8","name":"","pretty":false,"x":440.5,"y":140.75,"wires":[["7614736e.9278ac"]]},{"id":"7614736e.9278ac","type":"change","z":"ec970f0c.a49b8","name":"prep msg","rules":[{"t":"set","p":"ts","pt":"msg","to":"payload.ts","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":593.5,"y":141.75,"wires":[["8a5e68e.4e92c18"]]},{"id":"cdb2c1f0.2c871","type":"change","z":"ec970f0c.a49b8","name":"delete _session","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":281,"y":142,"wires":[["5d6a7688.73648","ffb8b40a.872fb8"]]},{"id":"92178816.5e20c8","type":"json","z":"ec970f0c.a49b8","name":"","pretty":false,"x":1104.5,"y":139.75,"wires":[["bd3beca7.04dc"]]},{"id":"ffb8b40a.872fb8","type":"websocket out","z":"ec970f0c.a49b8","name":"","server":"b970d134.a9d5e","x":473,"y":72,"wires":[]},{"id":"282293c.ea420ec","type":"debug","z":"ec970f0c.a49b8","name":"","active":true,"console":"false","complete":"false","x":930.5,"y":74.5,"wires":[]},{"id":"428a8d1c.ce7bd4","type":"comment","z":"ec970f0c.a49b8","name":"TODO","info":"Configure Conversation Service","x":728.5,"y":192.75,"wires":[]},{"id":"1138d938.ed3e97","type":"comment","z":"ec970f0c.a49b8","name":"TODO","info":"Set Chatbot Name","x":913,"y":192,"wires":[]},{"id":"a7d58d13.2bb4e","type":"comment","z":"ec970f0c.a49b8","name":"TODO","info":"(Optional) Change look and feel","x":274,"y":372,"wires":[]},{"id":"7cb75677.b32238","type":"debug","z":"ec970f0c.a49b8","name":"","active":true,"console":"false","complete":"true","x":1107,"y":79,"wires":[]},{"id":"b970d134.a9d5e","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"}]